.footer {
	padding: 1% 0;
	width: 100vw;
	position: relative;
}

.footer::after {
	position: absolute;
	top: 0;
	content: "";
	width: 75%;
	height: 1px;
	background: var(--colour-accent);
}

.footer > p {
	padding: 0;
}

.star {
	text-align: center;
	position: absolute;
	bottom: 0;
	z-index: -1;
	overflow: hidden;
	animation-name: riseAndDissapear;
	animation-fill-mode: forwards;
	animation-timing-function: linear;
}

.scores-div {
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}

.score-element {
	display: grid;
	grid-template-columns: 2fr 1fr 2fr;
	grid-template-rows: 1fr;
	column-gap: 5%;
	border-bottom: 1px solid var(--colour-accent);
	margin-bottom: 1%;
}

.score-element > p:nth-child(1) {
	justify-content: flex-end;
}

.score-element > p:nth-child(2) {
	justify-content: center;
}

.score-element > p:nth-child(3) {
	justify-content: flex-start;
}

.score-element > p {
	display: flex;
	align-items: center;
}

.score-rules-div {
	display: grid;
	grid-template-columns: 1fr 1fr;
	padding: 1%;
	column-gap: 1%;
	height: 25vh;
}
