.player {
	color: var(--colour-accent);
	height: 100%;
	min-width: 200px;
	margin-right: 10px;
	z-index: 1;
}

.scores {
	display: grid;
	width: 100%;
	grid-template-rows: repeat(19, 1fr);
	align-items: center;
	background-color: var(--colour-secondary);
	position: relative;
}

input,
p {
	height: 35px;
	width: 100%;
	padding-left: 5%;
}

input::placeholder,
p {
	color: var(--colour-primary);
}

.scores > input[type=number] {
	background: none;
	border: none;
	color: var(--colour-text);

	background-image: linear-gradient(var(--colour-accent), var(--colour-accent));
	background-size: 0 2px;
	background-position: bottom left;
	background-repeat: no-repeat;
	transition: background-size 500ms;
}

.scores > input[type=number]:focus {
	background-size: 100% 2px;
}

.scores > input[type=number]:focus::placeholder {
	color: var(--colour-text);
}

.scores > div > input[type=checkbox] {
	height: 80%;
	width: 25px;
	margin-left: 5%;
	background: var(--colour-primary);
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.name-input-div {
	width: 100%;
	height: var(--name-input-height);
}

.name-input {
	width: 80%;
	height: 100%;
	background: none;
	border: 1px solid var(--colour-secondary);
	color: var(--colour-text);
}

.name-input::placeholder {
	color: var(--colour-text);
}

.name-button {
	width: 20%;
	height: 100%;
	background: none;
	border: 1px solid var(--colour-secondary);
	color: var(--colour-text);
}

.score-form {
	position: absolute;
	background: var(--colour-secondary);
	padding: 5%;
}

.score-form-button {
	position: absolute;
	bottom: 0;
	right: 0;
	opacity: 0;
	transition: opacity 500ms;
	width: 30px;
	height: 30px;
}

.score-form-button:hover {
	opacity: 1;
}

.score-form > form > input {
	background: none;
	border: none;
	border-bottom: 1px solid black;
	margin-bottom: 5%;
}

.score-form > form > input::placeholder {
	color: black;
}

.score-form > form > button {
	width: 100%;
	border: none;
	height: 1.3rem;
}
.score-form > form > button:hover {
	background: greenyellow;
	cursor: pointer;
}
