@import './animations.css';

:root {
	--colour-primary: #282828;
	--colour-secondary: #6e6e6e;
	--colour-accent: darkcyan;
	--colour-text: white;

	--name-input-height: 25px;
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: var(--colour-secondary);
}

::-webkit-scrollbar-thumb {
	background: var(--colour-primary);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

*::selection {
	background: none;
}

*:focus {
	outline: none;
}

a {
	text-decoration: none;
}

body {
	background: black;
	overflow-x: hidden;
}

.center {
	display: flex;
	align-items: center;
	justify-content: center;
}

.column {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.justify-right {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.justify-left {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.align-top {
	display: flex;
	align-items: flex-start;
	justify-content: center;
}

.space-evenly {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

.fill {
	width: 100%;
	height: 100%;
}

.title {
	text-align: center;
	color: var(--colour-text);
	padding: 1%;
}

.title:hover {
	animation: shake 500ms infinite;
}

.player-buttons {
	opacity: 0;
	height: 100%;

	transition: opacity 1s;
}

.player-buttons:hover {
	opacity: 1;
}

.player-control-button {
	width: 50px;
	height: 50px;
	margin: 1%;
	background: var(--colour-secondary);
	color: var(--colour-text);
	border: none;
}

.player-control-button:hover {
	border: 1px solid var(--colour-accent);
	cursor: pointer;
}

.dice {
	display: block;
	position: absolute;
	z-index: 100;
	left: 0;
	top: 0;
	background: var(--colour-primary);
	padding: 1%;
}

.head {
	background-color: var(--colour-accent);
	width: 100%;
	height: 30px;
	cursor: move;
}

.blocker {
	display: none;
	width: 100vw;
	height: 100vh;
	position: absolute;
	z-index: 100;
	background: var(--colour-primary);
}

@keyframes riseAndDissapear {
	0% {
		transform: translateY(0px);
	}
	100% {
		transform: translateY(-1000px);
	}
}

@media screen and (max-width: 750px) {
	body {
		overflow: hidden;
	}

	.dice {
		display: none;
	}

	.blocker {
		display: block;
	}
}
